Repository kubermatic/machine-controller, pull requests merged in 2019-10, with the labels that each got.

#639 Fix upgrade test
  test/tools/integration/provision_master.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS, team/lifecycle

#640 Use klog instead of glog
  Gopkg.lock
  Gopkg.toml
  cmd/controller/main.go
  cmd/userdata/centos/main.go
  cmd/userdata/coreos/main.go
  cmd/userdata/ubuntu/main.go
  cmd/webhook/main.go
  pkg/admission/admission.go
  pkg/admission/machines.go
  pkg/apis/cluster/v1alpha1/migrations/migrations.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/create_delete_resources.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/packet/provider.go
  pkg/cloudprovider/provider/vsphere/helper.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/validationwrapper.go
  pkg/clusterinfo/configmap.go
  pkg/controller/machine/machine.go
  pkg/controller/machine/machine_test.go
  pkg/health/readiness.go
  pkg/node/eviction/eviction.go
  pkg/userdata/manager/manager.go
  pkg/userdata/manager/plugin.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/deploymentscenario.go
  test/e2e/provisioning/migrateuidscenario.go
  test/e2e/provisioning/verify.go
  vendor/github.com/golang/glog/LICENSE
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XXL, team/lifecycle

#644 Bump cni version to 0.8.2
  pkg/userdata/centos/testdata/kubelet-v1.10-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.11-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.12-aws-external.yaml
  pkg/userdata/centos/testdata/kubelet-v1.12-aws.yaml
  pkg/userdata/centos/testdata/kubelet-v1.12-vsphere-mirrors.yaml
  pkg/userdata/centos/testdata/kubelet-v1.12-vsphere-proxy.yaml
  pkg/userdata/centos/testdata/kubelet-v1.12-vsphere.yaml
  pkg/userdata/centos/testdata/kubelet-v1.9-aws.yaml
  pkg/userdata/coreos/testdata/auto-update-openstack-kubelet-v-version-prefix.yaml
  pkg/userdata/coreos/testdata/v1.10.3-auto-update-openstack-multiple-dns.yaml
  pkg/userdata/coreos/testdata/v1.11.2-vsphere-static-ipconfig.yaml
  pkg/userdata/coreos/testdata/v1.12.0-vsphere-mirrors.yaml
  pkg/userdata/coreos/testdata/v1.12.0-vsphere-overwrite-cloudconfig.yaml
  pkg/userdata/coreos/testdata/v1.12.0-vsphere-proxy.yaml
  pkg/userdata/coreos/testdata/v1.15.0-vsphere.yaml
  pkg/userdata/coreos/testdata/v1.9.2-disable-auto-update-aws-external.yaml
  pkg/userdata/coreos/testdata/v1.9.2-disable-auto-update-aws.yaml
  pkg/userdata/coreos/testdata/v1.9.2-disable-locksmith-aws.yaml
  pkg/userdata/coreos/testdata/v1.9.2-disable-update-engine-aws.yaml
  pkg/userdata/helper/download_binaries_script.go
  pkg/userdata/helper/testdata/download_binaries_v1.10.0.golden
  pkg/userdata/helper/testdata/download_binaries_v1.11.0-rc.2.golden
  pkg/userdata/helper/testdata/download_binaries_v1.11.0.golden
  pkg/userdata/helper/testdata/download_binaries_v1.11.3.golden
  pkg/userdata/helper/testdata/download_binaries_v1.12.0.golden
  pkg/userdata/ubuntu/testdata/dist-upgrade-on-boot.yaml
  pkg/userdata/ubuntu/testdata/kubelet-version-without-v-prefix.yaml
  pkg/userdata/ubuntu/testdata/multiple-dns-servers.yaml
  pkg/userdata/ubuntu/testdata/multiple-ssh-keys.yaml
  pkg/userdata/ubuntu/testdata/openstack-overwrite-cloud-config.yaml
  pkg/userdata/ubuntu/testdata/openstack.yaml
  pkg/userdata/ubuntu/testdata/version-1.10.10.yaml
  pkg/userdata/ubuntu/testdata/version-1.11.3.yaml
  pkg/userdata/ubuntu/testdata/version-1.12.1.yaml
  pkg/userdata/ubuntu/testdata/version-1.9.10.yaml
  pkg/userdata/ubuntu/testdata/vsphere-mirrors.yaml
  pkg/userdata/ubuntu/testdata/vsphere-proxy.yaml
  pkg/userdata/ubuntu/testdata/vsphere.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, size/M, team/lifecycle

#646 Extract types into their own packages
  pkg/admission/machines.go
  pkg/apis/cluster/v1alpha1/migrations/migrations.go
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/aws/types/cloudconfig.go
  pkg/cloudprovider/provider/aws/types/cloudconfig_test.go
  pkg/cloudprovider/provider/aws/types/testdata/simple-config.golden
  pkg/cloudprovider/provider/aws/types/types.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/azure/types/cloudconfig.go
  pkg/cloudprovider/provider/azure/types/types.go
  pkg/cloudprovider/provider/digitalocean/provider.go
  pkg/cloudprovider/provider/digitalocean/types/types.go
  pkg/cloudprovider/provider/fake/provider.go
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider.go
  pkg/cloudprovider/provider/gce/types/cloudconfig.go
  pkg/cloudprovider/provider/gce/types/cloudconfig_test.go
  pkg/cloudprovider/provider/gce/types/types.go
  pkg/cloudprovider/provider/hetzner/provider.go
  pkg/cloudprovider/provider/hetzner/types/types.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/types/types.go
  pkg/cloudprovider/provider/linode/provider.go
  pkg/cloudprovider/provider/linode/types/types.go
  pkg/cloudprovider/provider/openstack/provider.go
  pkg/cloudprovider/provider/openstack/types/cloudconfig.go
  pkg/cloudprovider/provider/openstack/types/cloudconfig_test.go
  pkg/cloudprovider/provider/openstack/types/testdata/bs-defaulting-config.golden
  pkg/cloudprovider/provider/openstack/types/testdata/config-with-special-chars.golden
  pkg/cloudprovider/provider/openstack/types/testdata/simple-config.golden
  pkg/cloudprovider/provider/openstack/types/types.go
  pkg/cloudprovider/provider/packet/provider.go
  pkg/cloudprovider/provider/packet/types/types.go
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig_test.go
  pkg/cloudprovider/provider/vsphere/types/testdata/2-virtual-centers.golden
  pkg/cloudprovider/provider/vsphere/types/testdata/simple-config.golden
  pkg/cloudprovider/provider/vsphere/types/types.go
  pkg/controller/machine/machine.go
  pkg/controller/machine/machine_test.go
  pkg/controller/machine/metrics.go
  pkg/node/eviction/eviction.go
  pkg/node/eviction/types/types.go
  pkg/providerconfig/types.go
  pkg/providerconfig/types/types.go
  pkg/providerconfig/types/types_test.go
  pkg/userdata/centos/provider.go
  pkg/userdata/coreos/provider.go
  pkg/userdata/coreos/provider_test.go
  pkg/userdata/manager/manager.go
  pkg/userdata/manager/plugin.go
  pkg/userdata/ubuntu/provider.go
  pkg/userdata/ubuntu/provider_test.go
  test/e2e/provisioning/all_e2e_test.go
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/migrateuidscenario.go
  test/e2e/provisioning/verify.go
Labels: approved, dco-signoff: yes, lgtm, release-note-action-required, size/XXL, team/lifecycle
