Repository kubermatic/machine-controller, pull requests merged in 2022-12, with the labels that each got.

#1504 Set EvictionStrategy to external on KubeVirt VMs
  docs/kubevirt.md
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
Labels: sig/cluster-management, approved, lgtm, release-note, size/S, dco-signoff: yes, sig/virtualization, docs/none

#1500 Update Go dependencies and DCO
  .wwhrd.yml
  CONTRIBUTING.md
  DCO
  go.mod
  go.sum
  pkg/cloudprovider/provider/aws/provider.go
  pkg/cloudprovider/provider/azure/provider.go
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/openstack/provider_test.go
  pkg/cloudprovider/provider/openstack/types/cloudconfig_test.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/userdata/helper/kubelet.go
  pkg/userdata/sles/provider_test.go
Labels: sig/cluster-management, approved, lgtm, release-note-none, size/XXL, dco-signoff: yes, sig/virtualization, sig/osm, kind/chore, docs/none

#1503 Disable flatcar tests for vsphere
  test/e2e/provisioning/all_e2e_test.go
Labels: sig/cluster-management, approved, lgtm, size/XS, release-note-none, dco-signoff: yes, docs/none

#1505 Make CloudConfigToString a struct receiver function called String
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig.go
  pkg/cloudprovider/provider/vsphere/types/cloudconfig_test.go
Labels: approved, lgtm, size/S, dco-signoff: yes, sig/osm, kind/chore, docs/none

#1509 [release/v1.54] Anexia Provider: Utilize `Creating` state instead of blocking `Create…
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/instance.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Labels: kind/cleanup, approved, lgtm, size/L, release-note, needs-ok-to-test, dco-signoff: yes, sig/osm

#1488 [release/v1.45] Update filter for CentOS Linux images
  .prow.yaml
  pkg/cloudprovider/provider/aws/provider.go
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Labels: sig/cluster-management, approved, lgtm, size/M, release-note, dco-signoff: yes, sig/osm

#1514 Upgrade to Go 1.19.4
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  examples/operating-system-manager.yaml
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Labels: sig/cluster-management, approved, lgtm, size/M, release-note, kind/feature, dco-signoff: yes, docs/none

#1515 KubeVirt switch CI to DC... cleanup phase
  .prow/e2e-features.yaml
  .prow/provider-kubevirt.yaml
Labels: sig/cluster-management, approved, lgtm, size/XS, release-note-none, kind/feature, dco-signoff: yes, sig/virtualization, docs/none

#1517 Add validation for image-cloning and custom-images for kubevirt
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
Labels: approved, lgtm, release-note-none, size/L, kind/feature, dco-signoff: yes, sig/virtualization, docs/none

#1518 Allow manually configuring containerd version via CLI flag
  cmd/machine-controller/main.go
  pkg/containerruntime/config.go
  pkg/containerruntime/containerd.go
  pkg/containerruntime/containerruntime.go
  pkg/containerruntime/docker.go
Labels: sig/cluster-management, approved, lgtm, size/M, release-note, needs-ok-to-test, kind/feature, dco-signoff: yes, docs/none

#1519 Update Kubernetes deps to v1.26.0 and controller-runtime to v0.14.1
  go.mod
  go.sum
  pkg/admission/machinedeployments_validation.go
  pkg/apis/cluster/v1alpha1/machineset_types.go
Labels: kind/cleanup, sig/cluster-management, approved, lgtm, release-note-none, size/L, dco-signoff: yes, docs/none
