Repository kubermatic/machine-controller, pull requests merged in 2022-10, with the labels that each got.

#1453 Add an option to enable guest os features at GCP
  examples/gce-machinedeployment.yaml
  pkg/cloudprovider/provider/gce/config.go
  pkg/cloudprovider/provider/gce/provider_test.go
  pkg/cloudprovider/provider/gce/service.go
  pkg/cloudprovider/provider/gce/types/types.go
Labels: sig/cluster-management, approved, lgtm, release-note, size/S, kind/feature, dco-signoff: yes, sig/osm, docs/none

#1428 Rework OSM integration into generic external bootstrap "interface"
  cmd/machine-controller/main.go
  cmd/webhook/main.go
  go.mod
  go.sum
  pkg/admission/admission.go
  pkg/admission/machinedeployments.go
  pkg/admission/machinedeployments_validation.go
  pkg/admission/machines.go
  pkg/bootstrap/doc.go
  pkg/bootstrap/types.go
  pkg/controller/machine/machine_controller.go
  pkg/providerconfig/types.go
  pkg/userdata/flatcar/flatcar.go
  test/e2e/provisioning/testdata/machinedeployment-alibaba.yaml
  test/e2e/provisioning/testdata/machinedeployment-anexia.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure-custom-image-reference.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure-redhat-satellite.yaml
  test/e2e/provisioning/testdata/machinedeployment-azure.yaml
  test/e2e/provisioning/testdata/machinedeployment-baremetal-tinkerbell.yaml
  test/e2e/provisioning/testdata/machinedeployment-digitalocean.yaml
  test/e2e/provisioning/testdata/machinedeployment-equinixmetal.yaml
  test/e2e/provisioning/testdata/machinedeployment-gce.yaml
  test/e2e/provisioning/testdata/machinedeployment-hetzner.yaml
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
  test/e2e/provisioning/testdata/machinedeployment-linode.yaml
  test/e2e/provisioning/testdata/machinedeployment-nutanix.yaml
  test/e2e/provisioning/testdata/machinedeployment-openstack-project-auth.yaml
  test/e2e/provisioning/testdata/machinedeployment-openstack-upgrade.yml
  test/e2e/provisioning/testdata/machinedeployment-openstack.yaml
  test/e2e/provisioning/testdata/machinedeployment-scaleway.yaml
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Labels: kind/cleanup, sig/cluster-management, approved, lgtm, size/L, release-note, dco-signoff: yes, sig/osm

#1454 Kubevirt switch to instancetype
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/provider_test.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/flavor.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-flavor.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/cloudprovider/provider/kubevirt/types/types.go
Labels: sig/cluster-management, approved, lgtm, release-note, size/XXL, kind/feature, dco-signoff: yes, sig/virtualization, sig/osm, docs/provided

#1456 Bump KubeVirt CDI to 1.55.0
  examples/kubevirt-machinedeployment.yaml
  go.mod
  go.sum
Labels: sig/cluster-management, approved, lgtm, size/XS, release-note, kind/feature, dco-signoff: yes, sig/virtualization, docs/none

#1460 rename master branch to main
  .prow/postsubmits.yaml
  CONTRIBUTING.md
  docs/howto-provider.md
  hack/ci/download-gocache.sh
  hack/ci/upload-gocache.sh
Labels: kind/cleanup, sig/cluster-management, approved, lgtm, release-note, size/S, dco-signoff: yes, docs/none

#1459 Use Calico as CNI for e2e and disable node readiness checks
  .prow/e2e-features.yaml
  hack/ci/calico.yaml
  hack/ci/setup-kind-cluster.sh
  hack/lib.sh
  test/e2e/provisioning/verify.go
Labels: kind/cleanup, sig/cluster-management, approved, lgtm, release-note-none, size/XXL, dco-signoff: yes, kind/regression, docs/none

#1464 Use 'main' as KKP branch instead of 'master' when cloning for cluster-exposer
  hack/ci/setup-kind-cluster.sh
Labels: sig/cluster-management, approved, lgtm, size/XS, release-note-none, dco-signoff: yes, kind/chore, docs/none

#1465 [release/v1.54] Update to Calico CNI, adjust node readiness checks and use KKP `main` branch
  .prow/e2e-features.yaml
  hack/ci/calico.yaml
  hack/ci/setup-kind-cluster.sh
  hack/lib.sh
  test/e2e/provisioning/verify.go
Labels: sig/cluster-management, approved, lgtm, release-note-none, size/XXL, kind/failing-test, dco-signoff: yes, kind/chore

#1457 Use official Nutanix SDK for Go
  go.mod
  go.sum
  pkg/cloudprovider/provider/nutanix/client.go
Labels: kind/cleanup, sig/cluster-management, approved, lgtm, release-note-none, size/L, dco-signoff: yes, sig/osm, docs/none

#1466 Dualstack support with AWS CCM
  pkg/cloudprovider/provider/aws/types/cloudconfig.go
  pkg/cloudprovider/provider/aws/types/cloudconfig_test.go
  pkg/cloudprovider/provider/aws/types/testdata/simple-config.golden
Labels: approved, lgtm, size/XS, release-note-none, kind/feature, dco-signoff: yes, sig/osm, docs/none

#1467 Extend containerd registry mirror config
  pkg/containerruntime/config.go
  pkg/containerruntime/config_test.go
Labels: sig/cluster-management, approved, lgtm, size/L, release-note, ok-to-test, kind/feature, dco-signoff: yes, docs/none
