Repository kubermatic/machine-controller, pull requests merged in 2023-06, with the labels that each got.

#1645 Allow external CCMs to handle node objects before MC
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/controller/machine/controller.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Labels: kind/bug, sig/cluster-management, approved, lgtm, size/L, release-note, dco-signoff: yes, sig/virtualization, docs/none

#1652 [release/v1.56] Allow external CCMs to handle node objects before MC
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/cloudprovider/provider/kubevirt/testdata/affinity-no-values.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/affinity.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/custom-local-disk.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/http-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-custom.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/instancetype-preference-standard.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/nominal-case.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/pvc-image-source.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/secondary-disks.yaml
  pkg/cloudprovider/provider/kubevirt/testdata/topologyspreadconstraints.yaml
  pkg/controller/machine/machine_controller.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Labels: kind/bug, sig/cluster-management, approved, lgtm, size/L, release-note, dco-signoff: yes, sig/virtualization

#1647 Add vmware anti-affinity for machine sets
  examples/vsphere-datastore-cluster-machinedeployment.yaml
  examples/vsphere-machinedeployment.yaml
  pkg/cloudprovider/provider/vsphere/provider.go
  pkg/cloudprovider/provider/vsphere/provider_test.go
  pkg/cloudprovider/provider/vsphere/rule.go
  pkg/cloudprovider/provider/vsphere/types/types.go
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Labels: sig/cluster-management, approved, lgtm, size/L, release-note, kind/feature, dco-signoff: yes, sig/virtualization, docs/provided

#1656 [release/v1.54] pin cluster-exposer to a Go 1.18 compatible release
  hack/ci/setup-kind-cluster.sh
Labels: kind/bug, sig/cluster-management, approved, lgtm, size/XS, release-note-none, dco-signoff: yes

#1649 [release/v1.54] Anexia Provider: Fix empty network config handling
  pkg/cloudprovider/provider/anexia/helper_test.go
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Labels: kind/bug, approved, lgtm, size/L, release-note, needs-ok-to-test, dco-signoff: yes, sig/osm

#1654 [release/v1.54] Allow external CCMs to handle node objects before MC
  go.mod
  go.sum
  pkg/cloudprovider/provider/kubevirt/provider.go
  pkg/controller/machine/machine_controller.go
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
Labels: kind/bug, sig/cluster-management, approved, lgtm, size/L, release-note, dco-signoff: yes, sig/osm

#1659 Update Golang to 1.20.5
  .prow/e2e-features.yaml
  .prow/postsubmits.yaml
  .prow/provider-alibaba.yaml
  .prow/provider-anexia.yaml
  .prow/provider-aws.yaml
  .prow/provider-azure.yaml
  .prow/provider-digitalocean.yaml
  .prow/provider-equinix-metal.yaml
  .prow/provider-gcp.yaml
  .prow/provider-hetzner.yaml
  .prow/provider-kubevirt.yaml
  .prow/provider-linode.yaml
  .prow/provider-nutanix.yaml
  .prow/provider-openstack.yaml
  .prow/provider-scaleway.yaml
  .prow/provider-vmware-cloud-director.yaml
  .prow/provider-vsphere.yaml
  .prow/verify.yaml
  Dockerfile
  Makefile
  hack/update-fixtures.sh
  hack/verify-licenses.sh
Labels: sig/cluster-management, approved, lgtm, size/M, release-note, dco-signoff: yes, kind/chore, docs/none

#1662 Update CRDs for OSM
  examples/operating-system-manager.yaml
Labels: sig/cluster-management, approved, lgtm, release-note-none, size/S, dco-signoff: yes, kind/chore, docs/none

#1665 Anexia Provider: allow configuration of multiple disks
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Labels: sig/cluster-management, approved, lgtm, size/M, release-note, needs-ok-to-test, kind/feature, dco-signoff: yes, docs/provided

#1668 [release/v1.56] Anexia Provider: allow configuration of multiple disks
  examples/anexia-machinedeployment.yaml
  go.mod
  go.sum
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
Labels: sig/cluster-management, approved, lgtm, size/L, release-note, needs-ok-to-test, kind/feature, dco-signoff: yes
