Repository kubermatic/machine-controller, pull requests merged in 2023-03, with the labels that each got.

#1591 adjust VPC to the new one after we recently switched AWS accounts
  docs/cloud-provider.md
  examples/aws-machinedeployment.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/aws.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Labels: sig/cluster-management, approved, lgtm, size/M, release-note-none, kind/failing-test, dco-signoff: yes, docs/none

#1593 do not cache canceled/timed out validations
  pkg/cloudprovider/validationwrapper.go
Labels: kind/bug, sig/cluster-management, approved, lgtm, release-note, size/S, dco-signoff: yes, docs/none

#1594 store MC/OSM logs as artifacts during E2E tests
  hack/ci/setup-machine-controller-in-kind.sh
Labels: kind/cleanup, sig/cluster-management, approved, lgtm, size/XS, release-note-none, dco-signoff: yes, docs/none

#1597 reduce default log level to prevent credentials from leaking
  examples/machine-controller.yaml
  examples/operating-system-manager.yaml
  pkg/admission/admission.go
Labels: kind/bug, sig/cluster-management, approved, lgtm, size/XS, release-note, dco-signoff: yes, docs/none

#1600 Anexia Provider: fix cleanup of failed machines
  pkg/cloudprovider/provider/anexia/provider.go
Labels: kind/bug, sig/cluster-management, approved, lgtm, size/XS, release-note, needs-ok-to-test, dco-signoff: yes, docs/none

#1601 Fix E2E tests for VMware Cloud Director
  hack/ci/setup-machine-controller-in-kind.sh
  test/e2e/provisioning/testdata/machinedeployment-vmware-cloud-director.yaml
Labels: sig/cluster-management, approved, lgtm, release-note-none, size/S, kind/failing-test, dco-signoff: yes, docs/none

#1605 [release/v1.54] Fix E2E tests for AWS
  docs/cloud-provider.md
  examples/aws-machinedeployment.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/aws.yaml
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Labels: sig/cluster-management, approved, lgtm, size/M, release-note-none, kind/failing-test, dco-signoff: yes, kind/chore

#1604 [release/v1.56] Fix E2E tests for AWS
  docs/cloud-provider.md
  examples/aws-machinedeployment.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/clusterv1alpha1machineWithProviderConfig/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/machinesv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machine/aws.yaml
  pkg/apis/cluster/v1alpha1/conversions/testdata/migrated_clusterv1alpha1machineWithProviderConfig/aws.yaml
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-ebs-encryption-enabled.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Labels: sig/cluster-management, approved, lgtm, size/M, release-note-none, kind/failing-test, dco-signoff: yes, docs/none

#1607 Remove custom AMI from rhel os
  test/e2e/provisioning/helper.go
  test/e2e/provisioning/testdata/machinedeployment-aws-arm-machines.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws-spot-instances.yaml
  test/e2e/provisioning/testdata/machinedeployment-aws.yaml
Labels: kind/cleanup, sig/cluster-management, approved, lgtm, size/XS, release-note-none, dco-signoff: yes, docs/none

#1589 [release/v1.54] Adjust kubevirt image repo and vsphere datastore
  test/e2e/provisioning/testdata/machinedeployment-kubevirt.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-datastore-cluster.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-resource-pool.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere-static-ip.yaml
  test/e2e/provisioning/testdata/machinedeployment-vsphere.yaml
Labels: sig/cluster-management, approved, lgtm, size/M, release-note-none, dco-signoff: yes, kind/chore

#1608 Fix E2E tests for vSphere
  test/e2e/provisioning/helper.go
Labels: sig/cluster-management, approved, lgtm, size/XS, release-note-none, kind/failing-test, dco-signoff: yes, kind/chore, docs/none

#1596 initialize iscsi if cloudprovider is Nutanix
  pkg/userdata/flatcar/provider.go
  pkg/userdata/flatcar/testdata/ignition_v1.24.0.json
  pkg/userdata/flatcar/testdata/ignition_v1.24.9.json
  pkg/userdata/flatcar/testdata/ignition_v1.25.0.json
Labels: sig/cluster-management, approved, lgtm, release-note, size/S, ok-to-test, kind/feature, dco-signoff: yes, docs/none
