Repository kubermatic/machine-controller, pull requests merged in 2024-01, with the labels that each got.

#1754 AWS: increase spot instance price
  test/e2e/provisioning/helper.go
Labels: sig/cluster-management, approved, lgtm, size/XS, release-note-none, kind/failing-test, dco-signoff: yes, kind/chore, docs/none

#1753 Anexia: Adds field to check if a IP reservation is still valid
  pkg/cloudprovider/provider/anexia/provider.go
  pkg/cloudprovider/provider/anexia/provider_test.go
  pkg/cloudprovider/provider/anexia/types/types.go
Labels: kind/bug, sig/cluster-management, approved, lgtm, release-note, size/S, needs-ok-to-test, dco-signoff: yes, docs/none

#1751 webhook: refactor to use controller-runtime server
  cmd/webhook/main.go
  pkg/admission/admission.go
Labels: sig/cluster-management, approved, lgtm, size/M, release-note, ok-to-test, kind/feature, dco-signoff: yes, docs/none
